---
layout: default
---
<head>
	<meta charset="utf-8">
	<meta name="description" content="ChatMusician">
	<meta name="keywords" content="GPT-4, open-source, vision-language">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>ChatMusician</title>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.0/css/bulma.min.css">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma-extensions@6.2.7/dist/css/bulma-extensions.min.css">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/jpswalsh/academicons@1/css/academicons.min.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<!-- The following needs to be inserted somewhere on the page for the player(s) to work. -->
	<script src="https://cdn.jsdelivr.net/combine/npm/tone@14.7.58,npm/@magenta/music@1.22.1/es6/core.js,npm/focus-visible@5,npm/html-midi-player@1.4.0"></script>
	<script src="https://cdn.jsdelivr.net/npm/bulma-extensions@6.2.7/bulma-quickview/dist/js/bulma-quickview.min.js"></script>

	<script>
		MathJax = {
		  tex: {
			inlineMath: [['$', '$'], ['\\(', '\\)']]
		  },
		  svg: {
			fontCache: 'global'
		  }
		};
	  </script>
	  <script id="MathJax-script" async src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/3.2.0/es5/tex-svg.min.js"></script>
	  

	<link type="text/css" rel="stylesheet" charset="UTF-8" href="https://www.gstatic.com/_/translate_http/_/ss/k=translate_http.tr.qhDXWpKopYk.L.W.O/am=wA/d=0/rs=AN8SPfq5gedF4FIOWZgYyMCNZA5tU966ig/m=el_main_css">
<style>
	table {
		width: 100%;
		border-collapse: collapse;
		text-align: center;
	}
	th, td {
		border: 1px solid black;
		padding: 8px;
		text-align: center;
	}
	th {
		background-color: #f2f2f2;
	}
</style>
</head>


<article class="post">
  <h1 style="text-align: center" class="title is-1 publication-title">MUPT:</h1>
  <h2 style="text-align: center" class="title is-2 publication-title">Symbolic Music Generative Pre-trained Transformer</h2>
  <section class="section">
		<div class="container ">
			<!-- Abstract. -->
			<div class="columns is-centered has-text-centered">
				<div class="column is-four-fifths">
					<h2 style="text-align: center" class="title is-3">Abstract</h2>
					<div class="content has-text-justified">
						<p>MuPT is a series of pre-trained models for symbolic music generation. It was trained on a large-scale dataset of symbolic music, including millions of monophonic and polyphonic pieces from different genres and styles. The models are trained with the LLama2 architecture, and can be further used for downstream music generation tasks such as melody generation, accompaniment generation, and multi-track music generation.</p>
					</div>
				</div>
			</div>
		</div>
	<div class="is-divider"></div>
	</section>

	

	<section class="section">
		<div class="container ">
			<div class="columns is-centered has-text-centered">
				<div class="column is-four-fifths">
					<h2 style="text-align: center" class="title is-3">SMS Law</h2>
					<div class="content has-text-justified">
						<div>
							<h2>Related work of Scaling Law</h2>
							<p>A wide range of research underscores a significant pattern in language model performance, indicating a power-law relationship between model performance and the increases in both the number of parameters and the size of the training data. Scaling law plays a pivotal role in advancing large language models (LLMs), offering a framework to predict the optimal configurations for larger models based on the training logs of their smaller counterparts.</p>
							<p>Further exploration into scaling laws for autoregressive generative modeling broadens the applicability of these laws to include not just textual, but also visual and multimodal tasks. Such insights are invaluable for developing music generation models, which often blend multiple modalities such as audio, lyrics, and visual elements like album covers or artist photos. This demonstrates a consistent trajectory of performance enhancement concurrent with resource scaling.</p>
							<p>The research by Muennighoff et al., which involves the repetition of the entire pre-training dataset across multiple epochs, presents promising results yet raises questions regarding its effectiveness for musical data. This uncertainty prompts a need for further research into the impact of data repetition strategy by achieving improved outcomes for models engaged in music-related tasks.</p>
						
							<h2>Methods of SMS scaling law:</h2>
							<ol>
								<li>
									<strong>Baseline</strong>
									<p>The Chinchilla Law, proposed by DeepMind, is a scaling law that provides insights into the training of large language models (LLMs). In this research, we used the Chinchilla Law and Data-Constrained law as baselines. The former is a classical baseline in LLMs' training and the latter is crucial to address the constraints faced in scenarios where the volume of available training data does not meet the ideal requisites. This phenomenon is typical in the music domain.</p>
									<h3>1.1 Brief introduction of Chinchilla Law</h3>
									<p>In this part, we focus on the relationship of loss metrics to various resource budgets in deep learning. It is first put forward by the Chinchilla Law as illustrated in the following equation. This law posits that both training and evaluation losses can be abstracted as a function of model capacity \(N\) and training data size \(D\), thus offering an insight to estimate the best combination of resources to be assigned to training.</p>
									<p>\[L(N, D) = \frac{A}{N^\alpha} + \frac{B}{D^\beta} + E\]</p>
									<p>Here, \(L(N,D)\) denotes the loss metric during training or evaluation, which is assumed to exhibit a power-law dependency on \(N\) and \(D\). The parameters \(A\), \(B\), \(E\), \(\alpha\), and \(\beta\) are determined by empirical fitting.</p>
						
									<h3>1.2 Brief introduction of Data-constrained Law</h3>
									<p>Complementing the Chinchilla Law, the Data-Constrained Law shows the scaling dynamics of LLMs when facing the data scarcity problem. The goal of discovering Data-Constrained Scaling Law is to generalize the expression to multiple epochs where tokens are repeated.</p>
									<p>Data-constrained law is defined as:</p>
									<p>\[L\left(N, D, U_D\right)=\frac{A}{N'^\alpha} + \frac{B}{D'^\beta} +E\]</p>
									<p>where</p>
									<p>\[N' = U_N + U_NR_N^\star\left(1-\exp\left(\frac{-R_N}{R_N^\star}\right)\right)\]</p>
									<p>\[D' = U_D + U_DR_D^\star\left(1-\exp\left(\frac{-R_D}{R_D^\star}\right)\right)\]</p>
									<p>For a better understanding of the equation, the definitions of each of the above parameters are as follows:</p>
								</li>
								<li>
									<strong>SMS Scaling law</strong>
									<h3>2.1 Continuous Adaptation of the Data-Constrained Law</h3>
									<p>To enhance the predictive accuracy of the Data-Constrained law for continuous domains, we extend the original discrete formulation to accommodate continuous variables, allowing for a more nuanced understanding of data constraints in varied contexts.</p>
									<p>\[L(N, D, U_D) = \frac{A}{N^\alpha} + \frac{B}{{D''}^\beta} + E\]</p>
									<p>where \(k\) is a new parameter to be fit, and \(D''\), the adjusted data size, is given by:</p>
									<p>\[D''= \frac{1-k^{D/U_D}}{1-k}U_D.\]</p>
						
									<h3>2.2 Incorporation of a New Term</h3>
									<p>To address the model's limitations in accurately capturing performance metrics for smaller data sizes, we introduce an additional term, as delineated in the following equation. This modification aims to refine the model's fidelity, particularly in scenarios characterized by limited data availability.</p>
									<p>\[L(N, D, U_D) = \frac{d}{N^\alpha \cdot D''^\beta} + \frac{A}{N^\alpha} + \frac{B}{D''^\beta} + E.\]</p>
						
									<h3>2.3 Modelling Overfitting Settings</h3>
									<p>Crucially, previous iterations of the model fall short in predicting overfitting, particularly beyond early stopping thresholds. To this end, we introduce a new component, \(L_{overfit}\), to the model, encapsulated in the following equation, to specifically account for overfitting losses:</p>
									<p>\[L\left(N, D, U_D\right)=\frac{d}{N^\alpha\cdot D''^\beta} + \frac{A}{N^\alpha} + \frac{B}{D''^\beta} +E + L_{overfit}\]</p>
									<p>where</p>
									<p>\[L_{overfit} = GELU\left\{k_d\cdot D + k_n\cdot \log(N)-k_u\cdot \log(U_D) - k_{in}\right\}\]</p>
									<p>is our overfitting formulation.</p>
								</li>
								<li>
									<strong>Parameter Fitting and Model Integration</strong>
									<p>Initial parameter fitting for the given parameters, subsequent linear regression analysis, focusing on the residuals between the specific equation and empirical observations, facilitates the calibration of overfitting parameters within the specified equation. The integration of these components not only predicts performance under constrained conditions but accounts for overfitting dynamics, helping to predict the true minimum of loss curve.</p>
								</li>
							</ol>
						
							<h2>Experiment result</h2>
							<h3>3.1 Evaluation Metrics & Fitting Methodology</h3>
							<p>We use the \(R^2\) value and Huber loss between the authentic valid loss and predicted valid loss on small models to acquire the best scaling law. Then we use the best law to train two large models. We optimized the SMS Law using the L-BFGS algorithm, the same with Chinchilla and Data-Constrained Laws.</p>
							
							<h3>3.2 SMS Law are the Best on the Training Set</h3>
							<p>The integration of an additional term alongside the introduction of a GELU regularization component collectively underpins the superior performance of the SMS Law, as empirically evidenced by its training set outcomes. This is particularly notable in the context of our parametric fitting performance comparison, where the SMS Law outshines other scaling laws, achieving the highest \(R^2\) value and the lowest Huber loss on the training set.</p>
							
							<h3>3.3 Scaled-up Performance Followed SMS Law</h3>
							<p>In our SMS Law experimentation, we initially aim to train a model with a specific number of parameters across epochs on the whole dataset per epoch, achieving a specific loss. Contrary to the predictions of SMS Law, the Chinchilla Law suggests optimal performance for a different parameter model over different epochs. Further, we train a larger parameter model that underscored the SMS Law's predictive accuracy regarding overfitting risks, affirming its value as a strategic guide in scaling up models effectively within fixed computational constraints, beneficial for efficient model scaling decisions.</p>
						</div>
						
						
					</div>
				</div>
			</div>
		</div>
		<div class="is-divider"></div>
	</section>
	

	<h2 style="text-align: center" class="title is-3">MuPT Model Checkpoints HF-Link</h2>
	<section class="section">
		<div class="container ">
			<table>
			<tr>
				<th>Model</th>
				<th>190M</th>
				<th>550M</th>
				<th>1.07B</th>
				<th>1.97B</th>
			</tr>
			<tr>
				<td>MuPT-v0-4096</td>
				<td><a href="https://huggingface.co/m-a-p/MuPT-v0-4096-190M">Link</a></td>
				<td><a href="https://huggingface.co/m-a-p/MuPT-v0-4096-550M">Link</a></td>
				<td><a href="https://huggingface.co/m-a-p/MuPT-v0-4096-1.07B">Link</a></td>
				<td><a href="https://huggingface.co/m-a-p/MuPT-v0-4096-1.97B">Link</a></td>
			</tr>
			<tr>
				<td>MuPT-v0-8192</td>
				<td><a href="https://huggingface.co/m-a-p/MuPT-v0-8192-190M">Link</a></td>
				<td><a href="https://huggingface.co/m-a-p/MuPT-v0-8192-550M">Link</a></td>
				<td><a href="https://huggingface.co/m-a-p/MuPT-v0-8192-1.07BM">Link</a></td>
				<td><a href="https://huggingface.co/m-a-p/MuPT-v0-8192-1.97B">Link</a></td>
			</tr>
			<tr>
				<td>MuPT-v1-8192</td>
				<td><a href="https://huggingface.co/m-a-p/MuPT-v1-8192-190M">Link</a></td>
				<td><a href="https://huggingface.co/m-a-p/MuPT-v1-8192-550M">Link</a></td>
				<td><a href="https://huggingface.co/m-a-p/MuPT-v1-8192-1.07B">Link</a></td>
				<td><a href="https://huggingface.co/m-a-p/MuPT-v1-8192-1.97B">Link</a></td>
			</tr>
			<tr>
				<td>MuPT-v1-8192-1.3B-intermediate-ckpts</td>
				<td colspan="4"><a href="https://huggingface.co/m-a-p/MuPT-intermediate-ckpts">Link</a></td>
			</tr>
			</table>
		</div>
		<div class="is-divider"></div>
	</section>
	

  <div class="container">
		<div class="container has-text-centered">
			<h2 class="title">Examples</h2>
		</div>
		<section class="section">
			<div class="contrainer">
				<div class="columns is-centered has-text-centered">
					<div class="column is-10">
						<h2 class="title is-4">example 1</h2>
						<div class="container  content has-text-centered">
							<div style="text-align: center;"><img src="../music_image/mupt20_test_105-1.png" style="width: 50%; height: auto;"></div>
								<div style="text-align: center;">
									
									<audio controls>
                    <source src="../music/mupt_20_test_105.mp3" type="audio/mp3">
                  </audio>
								</div>					
						</div>
					</div>
				</div>
			</div>
		</section>
	

    <section class="section">
			<div class="contrainer">
				<div class="columns is-centered has-text-centered">
					<div class="column is-10">
						<h2 class="title is-4">example 2</h2>
						<div class="container  content has-text-centered">
							<div style="text-align: center;"><img src="../music_image/mupt20_test_113-1.png" style="width: 50%; height: auto;"></div>
								<div style="text-align: center;">
									<audio controls>
                    <source src="../music/mupt_20_test_113.mp3" type="audio/mp3">
                  </audio>
								</div>					
						</div>
					</div>
				</div>
			</div>
		</section>

    <section class="section">
			<div class="contrainer">
				<div class="columns is-centered has-text-centered">
					<div class="column is-10">
						<h2 class="title is-4">example 3</h2>
						<div class="container  content has-text-centered">
							<div style="text-align: center;"><img src="../music_image/mupt24_test_1-1.png" style="width: 50%; height: auto;"></div>
								<div style="text-align: center;">
									<audio controls>
                    <source src="../music/mupt_24_test_1.mp3" type="audio/mp3">
                  </audio>
								</div>					
						</div>
					</div>
				</div>
			</div>
		</section>

    <section class="section">
			<div class="contrainer">
				<div class="columns is-centered has-text-centered">
					<div class="column is-10">
						<h2 class="title is-4">example 4</h2>
						<div class="container  content has-text-centered">
							<div style="text-align: center;"><img src="../music_image/mupt24_test_28-1.png" style="width: 50%; height: auto;"></div>
								<div style="text-align: center;">
									<audio controls>
                    <source src="../music/mupt_24_test_28.mp3" type="audio/mp3">
                  </audio>
								</div>					
						</div>
					</div>
				</div>
			</div>
		</section>

    <section class="section">
			<div class="contrainer">
				<div class="columns is-centered has-text-centered">
					<div class="column is-10">
						<h2 class="title is-4">example 5</h2>
						<div class="container  content has-text-centered">
							<div style="text-align: center;"><img src="../music_image/mupt24_test_34-1.png" style="width: 50%; height: auto;"></div>
								<div style="text-align: center;">
									<audio controls>
                    <source src="../music/mupt_24_test_34.mp3" type="audio/mp3">
                  </audio>
								</div>					
						</div>
					</div>
				</div>
			</div>
		</section>

    <section class="section">
			<div class="contrainer">
				<div class="columns is-centered has-text-centered">
					<div class="column is-10">
						<h2 class="title is-4">example 6</h2>
						<div class="container  content has-text-centered">
							<div style="text-align: center;"><img src="../music_image/mupt24_test_53-1.png" style="width: 50%; height: auto;"></div>
								<div style="text-align: center;">
									<audio controls>
                    <source src="../music/mupt_24_test_53.mp3" type="audio/mp3">
                  </audio>
								</div>					
						</div>
					</div>
				</div>
			</div>
		</section>

    <section class="section">
			<div class="contrainer">
				<div class="columns is-centered has-text-centered">
					<div class="column is-10">
						<h2 class="title is-4">example 7</h2>
						<div class="container  content has-text-centered">
							<div style="text-align: center;"><img src="../music_image/mupt28_test_143-1.png" style="width: 50%; height: auto;"></div>

								<div style="text-align: center;">
									<audio controls>
                    <source src="../music/mupt_28_test_143.mp3" type="audio/mp3">
                  </audio>
								</div>					
						</div>
					</div>
				</div>
			</div>
		</section>

    <section class="section">
			<div class="contrainer">
				<div class="columns is-centered has-text-centered">
					<div class="column is-10">
						<h2 class="title is-4">example 8</h2>
						<div class="container  content has-text-centered">
							<div style="text-align: center;"><img src="../music_image/mupt28_test_157-1.png" style="width: 50%; height: auto;"></div>

								<div style="text-align: center;">
									<audio controls>
                    <source src="../music/mupt_28_test_157.mp3" type="audio/mp3">
                  </audio>
								</div>					
						</div>
					</div>
				</div>
			</div>
		</section>

    <section class="section">
			<div class="contrainer">
				<div class="columns is-centered has-text-centered">
					<div class="column is-10">
						<h2 class="title is-4">example 9</h2>
						<div class="container  content has-text-centered">
							<div style="text-align: center;"><img src="../music_image/mupt28_test_168-1.png" style="width: 50%; height: auto;"></div>
								<div style="text-align: center;">
									<audio controls>
                    <source src="../music/mupt_28_test_168.mp3" type="audio/mp3">
                  </audio>
								</div>					
						</div>
					</div>
				</div>
			</div>
		</section>

    <section class="section">
			<div class="contrainer">
				<div class="columns is-centered has-text-centered">
					<div class="column is-10">
						<h2 class="title is-4">example 10</h2>
						<div class="container  content has-text-centered">
							<div style="text-align: center;"><img src="../music_image/mupt28_test_197-1.png" style="width: 50%; height: auto;"></div>

								<div style="text-align: center;">
									<audio controls>
                    <source src="../music/mupt_28_test_197.mp3" type="audio/mp3">
                  </audio>
								</div>					
						</div>
					</div>
				</div>
			</div>
		</section>

    <section class="section">
			<div class="contrainer">
				<div class="columns is-centered has-text-centered">
					<div class="column is-10">
						<h2 class="title is-4">example 11</h2>
						<div class="container  content has-text-centered">
							<div style="text-align: center;"><img src="../music_image/muptlast_test_109-1.png" style="width: 50%; height: auto;"></div>

								<div style="text-align: center;">
									<audio controls>
                    <source src="../music/mupt_last_test_109.mp3" type="audio/mp3">
                  </audio>
								</div>					
						</div>
					</div>
				</div>
			</div>
		</section>

    <section class="section">
			<div class="contrainer">
				<div class="columns is-centered has-text-centered">
					<div class="column is-10">
						<h2 class="title is-4">example 12</h2>
						<div class="container  content has-text-centered">
							<div style="text-align: center;"><img src="../music_image/muptlast_test_11-1.png" style="width: 50%; height: auto;"></div>
								<div style="text-align: center;">
									<audio controls>
                    <source src="../music/mupt_last_test_11.mp3" type="audio/mp3">
                  </audio>
								</div>					
						</div>
					</div>
				</div>
			</div>
		</section>

    <section class="section">
			<div class="contrainer">
				<div class="columns is-centered has-text-centered">
					<div class="column is-10">
						<h2 class="title is-4">example 13</h2>
						<div class="container  content has-text-centered">
							<div style="text-align: center;"><img src="../music_image/muptlast_test_130-1.png" style="width: 50%; height: auto;"></div>
								<div style="text-align: center;">
									<audio controls>
                    <source src="../music/mupt_last_test_130.mp3" type="audio/mp3">
                  </audio>
								</div>					
						</div>
					</div>
				</div>
			</div>
		</section>

    <section class="section">
			<div class="contrainer">
				<div class="columns is-centered has-text-centered">
					<div class="column is-10">
						<h2 class="title is-4">example 14</h2>
						<div class="container  content has-text-centered">
							<div style="text-align: center;"><img src="../music_image/muptlast_test_17-1.png" style="width: 50%; height: auto;"></div>

								<div style="text-align: center;">
									<audio controls>
                    <source src="../music/mupt_last_test_17.mp3" type="audio/mp3">
                  </audio>
								</div>					
						</div>
					</div>
				</div>
			</div>
		</section>

    <section class="section">
			<div class="contrainer">
				<div class="columns is-centered has-text-centered">
					<div class="column is-10">
						<h2 class="title is-4">example 15</h2>
						<div class="container  content has-text-centered">
							<div style="text-align: center;"><img src="../music_image/muptlast_test_185-1.png" style="width: 50%; height: auto;"></div>
								<div style="text-align: center;">
									<audio controls>
                    <source src="../music/mupt_last_test_185.mp3" type="audio/mp3">
                  </audio>
								</div>					
						</div>
					</div>
				</div>
			</div>
		</section>

    <section class="section">
			<div class="contrainer">
				<div class="columns is-centered has-text-centered">
					<div class="column is-10">
						<h2 class="title is-4">example 16</h2>
						<div class="container  content has-text-centered">
							<div style="text-align: center;"><img src="../music_image/muptlast_test_19-1.png" style="width: 50%; height: auto;"></div>
								<div style="text-align: center;">
									<audio controls>
                    <source src="../music/mupt_last_test_19.mp3" type="audio/mp3">
                  </audio>
								</div>					
						</div>
					</div>
				</div>
			</div>
		</section>

    <section class="section">
			<div class="contrainer">
				<div class="columns is-centered has-text-centered">
					<div class="column is-10">
						<h2 class="title is-4">example 17</h2>
						<div class="container  content has-text-centered">
							<div style="text-align: center;"><img src="../music_image/muptlast_test_46-1.png" style="width: 50%; height: auto;"></div>
								<div style="text-align: center;">
									<audio controls>
                    <source src="../music/mupt_last_test_46.mp3" type="audio/mp3">
                  </audio>
								</div>					
						</div>
					</div>
				</div>
			</div>
		</section>

    <section class="section">
			<div class="contrainer">
				<div class="columns is-centered has-text-centered">
					<div class="column is-10">
						<h2 class="title is-4">example 18</h2>
						<div class="container  content has-text-centered">
							<div style="text-align: center;"><img src="../music_image/muptlast_test_66-1.png" style="width: 50%; height: auto;"></div>

								<div style="text-align: center;">
									<audio controls>
                    <source src="../music/mupt_last_test_66.mp3" type="audio/mp3">
                  </audio>
								</div>					
						</div>
					</div>
				</div>
			</div>
		</section>

    <section class="section">
			<div class="contrainer">
				<div class="columns is-centered has-text-centered">
					<div class="column is-10">
						<h2 class="title is-4">example 19</h2>
						<div class="container  content has-text-centered">
							<div style="text-align: center;"><img src="../music_image/muptlast_test_82-1.png" style="width: 50%; height: auto;"></div>
								<div style="text-align: center;">
									<audio controls>
                    <source src="../music/mupt_last_test_82.mp3" type="audio/mp3">
                  </audio>
								</div>					
						</div>
					</div>
				</div>
			</div>
		</section>

    <section class="section">
			<div class="contrainer">
				<div class="columns is-centered has-text-centered">
					<div class="column is-10">
						<h2 class="title is-4">example 20</h2>
						<div class="container  content has-text-centered">
							<div style="text-align: center;"><img src="../music_image/muptlast_test_89-1.png" style="width: 50%; height: auto;"></div>
								<div style="text-align: center;">
									<audio controls>
                    <source src="../music/mupt_last_test_89.mp3" type="audio/mp3">
                  </audio>
								</div>					
						</div>
					</div>
				</div>
			</div>
		</section>
    
	</div>
</article>
